* {
  border-radius: 0 !important; }

body {
  background-color: #f0f3f5;
  color: #5B5B5B;
  font-family: 'Open Sans','Montserrat', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  font-weight: normal;
  direction: ltr; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat','Open Sans',sans-serif;
  font-weight: normal; }

label {
  font-weight: 400; }

.btn:not(.fa) {
  font-family: 'Montserrat','Open Sans',sans-serif; }

.panel-group .panel-title.panel-title-toggle:before {
  font-family: FontAwesome;
  content: "\f0d7";
  margin-right: 10px; }

.panel-group .panel-title.panel-title-toggle h4 {
  display: inline; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: purple;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
