@import '../../../theme/abstracts';

.form-checkbox {
  position: relative;
  margin: 10px 0;
  height: 32px;
  display: flex;
  align-items: flex-start;

  input[type=checkbox] {
    @include hidden();

    &:checked ~ label {
      color: $color-text-body-dark;

      &::before {
        background-color: $color-button-primary;
        background-image: url('../../../assets/icons/input-checkbox.svg');
        border-color: transparent;
      }
    }
  }

  label {
    @include font-definition(primary, 16);
    color: $color-text-body;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      display: inline-block;
      height: 20px;
      width: 20px;
      // background-color: $color-input-background;
      background-color: $_color-gray-2;
      border: solid 1px transparent;

      @media #{$gl-xs-only} {
        top: 0px;
      }
    }

    &:focus,
    &:active {
      &::before {
        border-color: $color-input-active-border;
      }
    }

    // &:hover {
      // color: $color-text-primary;
    // }
  }
}


.form-row {
  &.form-row-checkbox {
    margin-bottom: 10px;

    .consent-message {
      @include font-definition(secondary, 16);
      color: $color-text-heading-secondary;
      margin: 0 0 ($spacing-small / 2);
      padding-top: 10px;
    }
  }

  &.error {
    .form-checkbox {
      label {
        &::before {
          border-color: $color-error;
        }
      }
    }
  }
}
